.title {
    margin: 24px;
}

.edit-container {
    width: auto;
    height: 400px;
    background: #FFFFFF;
    margin: 24px;
}

.edit-container Form {
    display: flex;
    flex-direction: column;
    padding: 18px;
}

.input {
    width: 340px;
    height: 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}

.input-img {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    width: 345px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.549);
}

.input-dropdown {
    width: 346px;
    height: 36px;
}

.button-edit {
    padding: 18px;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.btn-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    border: 1px solid #0D28A6;
    background: #FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.btn-save {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    border: none;
    background: #0D28A6;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.label {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}